# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub

# OS/Editor
.DS_Store
.vscode/
.idea/
